* text=auto
.gitattributes text eol=lf
.gitignore text eol=lf
Cargo.lock text eol=lf

*.rs text eol=lf
*.toml text eol=lf
*.md text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.json text eol=lf
*.txt text eol=lf
LICENSE text eol=lf
